<%- include('../sidebar.ejs') %>
<%- include('../header.ejs') %>


<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <div>
                          <strong class="card-title">Data Update</strong>
                        </div>
                        
                    </div>
                    <div class="card-body">
                        <form  method="post" action="/aboutupdate/<%= edit._id %>" enctype="multipart/form-data">
               
                            <div class="mb-3">
                              <label for="">name</label>
                              <input type="text" name="name" class="form-control" value="<%= edit.name %>">
                            </div>
                            <div class="mb-3">
                                <label for="">post</label>
                                <input type="text" name="company_name" class="form-control" value="<%= edit.post %>">
                              </div>
                              <div class="mb-3">
                                <label for="">description</label>
                                <textarea name="discription" class="form-control" id="" cols="30" rows="7"><%= edit.description %></textarea>
                            </div>
                            <div class="mb-3">
                              <label for="">Upload Image</label>
                              <input type="file" name="image" class="form-control">
                            </div>
                            <img src="<%= edit.image.url %>">
                            
                            <div>
                              <button type="submit" class="btn btn-primary">Update</button>
                            </div>
                          </form>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- .animated -->
  
  
  </div><!-- .content -->
  </div><!-- /#right-panel -->

  
  
  
  <!-- Modal -->
  


    <%- include('../footer.ejs') %>