<%- include('../sidebar.ejs') %>
    <%- include('../header.ejs') %>

        <div class="col-md-9">
            <div class="dash-right">
                <div class="dash-header">
                    <div class="dash-title">
                         <!-- Button trigger modal  -->
                         <ul style="list-style-type: none;">
                            <li>
                                <h3>Massage List</h3>
                            </li>
                        </ul>
                    </div>

                </div>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>name</th>
                            <th>email</th>
                            <th>mobile_number</th>
                            <th>subject</th>
                            <th>message</th>
                            <th>Action</th>
                        </tr>

                    </thead>

                    <tbody>
                        <% i=1 %>
                            <% c.forEach((item)=>{ %>

                                <tr>
                                    <td>
                                        <%= i++ %>
                                    </td>
                                    <td>
                                        <%= item.name %>
                                    </td>
                                    <td>
                                        <%= item.email %>
                                    </td>
                                    <td>
                                        <%= item.mobile_number %>
                                    </td>
                                    <td>
                                        <%= item.subject %>
                                    </td>
                                    <td>
                                        <%= item.message %>
                                    </td>

                                    <td>
                                        <a href="/admin/contactview/<%= item._id %>" class="btn btn-info">View</a>
                                        <a href="/admin/contactdelete/<%= item._id %>" class="btn btn-danger">Delete</a>
                                    </td>

                                </tr>

                                <% }) %>
                    </tbody>
                </table>
            </div>
        </div>


        <%- include('../footer.ejs') %>