<%- include('../sidebar') %>
<%- include('../header.ejs') %>

<div class="col-md-9"> 
    <div class="dash-right">
        <div class="dash-header">
            <div class="dash-title">
                   <!-- Button trigger modal -->
                <ul style="list-style-type: none;">
                    <li>
                        <h3>Batch List</h3>
                    </li>
                    <li class="text-right">
                        <button type="button" class="btn btn-primary addblog text-right" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Add Batch
                          </button>
                    </li>
                </ul>
            </div>
            
        </div>
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
                <th>S.No.</th>
                <th>start_date</th>
                <th>end_date</th>
                <th>batch_name</th>
                <th>timing</th>
                <th>Image</th>
                <th>Action</th>
            </tr>

            </thead>

            <tbody>
              <% i=1 %>
              <% ba.forEach((item)=>{   %>

              <tr>
                <td><%= i++ %></td>
                <td><%= item.start_date %></td>
                <td><%= item.end_date %></td>
                <td><%= item.batch_name %></td>
                <td><%= item.timing %></td>
                <td><img src="<%= item.image.url %>" width="50px"></td>
                
            <td>
                <a href="/admin/batchview/<%= item._id %>" class="btn btn-info">View</a>
                <a href="/admin/batchedit/<%= item._id %>" class="btn btn-info">Edit</a>
                <a href="/admin/batchdelete/<%= item._id %>" class="btn btn-info">Delete</a>
            </td>
            
            </tr>

            <%    })  %>


            </tbody>
            

              
            
            
           
                




        </table>
    </div>
</div>



<!-- model blog start --> 
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Batch</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form     method="post" action="/batch_insert" enctype="multipart/form-data" >
              <div class="md-3">
                <label>start_date</label>
                <input type="text" name="start_date" class="form-control">
            </div>
            <div class="md-3">
              <label>end_date</label>
              <input type="text" name="end_date" class="form-control">
          </div>
                <div class="md-3">
                    <label>batch_name</label>
                    <input type="text" name="batch_name" class="form-control">
                </div>
                <div class="md-3">
                  <label>teacher_name</label>
                  <input type="text" name="teacher_name" class="form-control">
              </div>
              <div class="md-3">
                <label>timing</label>
                <input type="text" name="timing" class="form-control">
            </div>
            <div class="md-3">
              <label>last_update</label>
              <input type="text" name="last_update" class="form-control">
          </div>
          <div class="md-3">
            <label>fee</label>
            <input type="text" name="fee" class="form-control">
        </div>
          <div class="mb-3">
            <label class="form-label" for="form4Example3">description</label>
            <textarea class="form-control" name="description" id="" cols="30" rows="10"></textarea>
          </div>      
                <div class="md-3">
                  <label for="">Upload Image:</label>
                  <input type="file" id="myfile" name="image"  class="form-control">
              </div>
                <br>
                <button type="submit" class="btn btn-info"> Submit</button>
                
            </form>

          
        </div>
        
      </div>
    </div>
  </div>

<%- include('../footer.ejs') %>