<%- include('./header.ejs') %>
   
   
   
   <!-- offcanvas area start -->
   <div class="offcanvas__area">
      <div class="offcanvas__wrapper">
         <div class="offcanvas__content">
            <div class="offcanvas__close text-end">
               <button class="offcanvas__close-btn offcanvas-close-btn">
                  <i class="fal fa-times"></i>
               </button>
            </div>
            <div class="offcanvas__top mb-40">
               <div class="offcanvas__subtitle">
                  <span class="text-white d-inline-block mb-25 d-none d-lg-block">ELEVATE YOUR BUSINESS WITH</span>
               </div>
               <div class="offcanvas__logo mb-40">
                  <a href="/home">
                     <!-- <img src="/assets/img/logo/logo.png" alt="logo"> -->
                     <h1>PN COURSE</h1>
                  </a>
               </div>
               <div class="offcanvas-info d-none d-lg-block">
                  <p>Limitless customization options & Elementor compatibility let anyone create a beautiful website
                     with Valiance. </p>
               </div>
               <div class="offcanvas__btn d-none d-lg-block">
                  <a href="/contact" class="tp-btn">Contact us <span></span></a>
               </div>
            </div>
            <div class="mobile-menu fix mb-40"></div>


            <div class="offcamvas__bottom">
               <div class="offcanvas__cta mt-30 mb-20">
                  <h3 class="offcanvas__cta-title">Contact info</h3>
                  <span>8 Dukan, Darpan Colony, Gwalior</span>
                  <span>+91 7654 6548 76</span>
                  <span>vk@gmail.com</span>
                  <span>Office Hours: 8AM - 5PM</span>
                  <span>Sunday - Wekend Day</span>
               </div>
            </div>
         </div>
      </div>
   </div>

   <div class="body-overlay"></div>
   <!-- offcanvas area end -->

   <main>

      <!-- slider start  -->
      <div class="tp-slider__section p-relative">
         <div class="tp-slilder-active">

            <% d.forEach((item)=>{   %>
            <div
               class="tp-slider__item  tp-slider__height tp-slider__overlay d-flex justify-content-center align-items-center"
               data-background="<%= item.S_slider.url %>">
               <div class="container">
                  <div class="row justify-content-center">
                     <div class="col-12">
                        <div class="tp-slider__content text-center">
                           <h1 class="tp-slider__title text-white" data-animation="fadeInUp" data-delay="0.5s"><%= item.S_title %>
                           </h1>
                           <p class="text-white" data-animation="fadeInUp" data-delay="0.7s"><%= item.S_title %>
                              </p>
                           <div class="tp-slider__btn-wrappper p-relative z-index-1" data-animation="fadeInUp"
                              data-delay="0.9s">
                              <a href="/courses" class="tp-transparent-btn">
                                 <span>Discover More Course <i class="fa-regular fa-arrow-right"></i></span>
                                 <div class="transition"></div>
                              </a>
                              <% if(message.length > 0){  %>
                                 <div class="alert alert-success">
                                     <%= message %>
                                 </div>
                              <%    }  %>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>


            <%    })  %>
            
            

            
         </div>
         <div class="tp-slider__arrows">
         </div>
      </div>
      <!-- slider end  -->

      <!-- feature start  -->
      <div class="tp-feature-2__section">
         <div class="container">
            <div class="row gx-0">
               <div class="col-md-4">
                  <div class="tp-feature-2__item tp-feature-2__color-1 d-lg-flex">
                     <div class="tp-feature-2__icon mr-20">
                        <span><i class="fa-thin fa-laptop-code"></i></span>
                     </div>
                     <div class="tp-feature-2__content">
                        <h3 class="tp-feature-2__title">Apply Online</h3>
                        <p>pncourse</p>
                        <div class="tp-feature-2__wrapper">
                           <span><a href="/contact"><i class="fa-regular fa-arrow-right"></i></a></span>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="tp-feature-2__item tp-feature-2__color-2 d-lg-flex">
                     <div class="tp-feature-2__icon mr-20">

                        <span><i class="fa-thin fa-cloud-arrow-down"></i></span>
                     </div>
                     <div class="tp-feature-2__content">
                        <h3 class="tp-feature-2__title">Download Prospects</h3>
                        <p>pncourse</p>
                        <div class="tp-feature-2__wrapper">
                           <span><a href="/contact"><i class="fa-regular fa-arrow-right"></i></a></span>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="tp-feature-2__item tp-feature-2__color-3 d-lg-flex">
                     <div class="tp-feature-2__icon mr-20">
                        <span><i class="fa-thin fa-file-certificate"></i></span>
                     </div>
                     <div class="tp-feature-2__content">
                        <h3 class="tp-feature-2__title">Certification</h3>
                        <p>pncourse</p>
                        <div class="tp-feature-2__wrapper">
                           <span><a href="/contact"><i class="fa-regular fa-arrow-right"></i></a></span>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- feature end  -->


      <!-- about section  start -->
      <div class="tp-about-2__section pt-120 pb-90 p-relative fix">
         <div class="container">
            <div class="row align-items-center">
               <div class="col-lg-6">
                  <div class="tp-about-2__img-wrapper p-relative">
                     <div class="tp-about-2__img w-img mb-30">
                        <img src="https://firebasestorage.googleapis.com/v0/b/pn-images.appspot.com/o/home-%3Etips%2Flearning.png?alt=media&token=ce9f919b-595f-44e0-bbbd-aa72aba5b8f6" alt="">
                     </div>
                     <div class="tp-about-2-shapes">
                        <div class="tp-about-2__shapes-1">
                           <img src="/assets/img/icons/dots-shapes-2.png" alt="">
                        </div>
                        <div class="tp-about-2__shapes-2 ">
                           <img src="/assets/img/icons/theme-circle.png" alt="">
                        </div>
                        <div class="tp-about-2__shapes-7 ">
                           <img src="/assets/img/icons/about-tag.png" alt="">
                        </div>
                     </div>
                  </div>
               </div>
               
               <div class="col-lg-6">
                  <div class="tp-about-2__right ml-110">
                     <div class="tp-section__title-wrapper">
                        <h3 class="tp-section__title mb-15">Not Sure Where to Begin?
                           Take Our Quiz.</h3>
                        <p class="mb-40">Lorem ipsum dolor sit amet, consectetur aliqua adipiscing
                           elit, sed do eiumod tempor.</p>

                        <div class="tp-about-2__feature-list mb-10">
                           <ul>
                              <li><span><i class="fa-light fa-user-group"></i></span>Skilled Teachers</li>
                              <li><span><i class="fa-light fa-file-pen"></i></span>Efficient & Flexible</li>
                              <li><span><i class="fa-light fa-chart-pie-simple"></i></span>Lifetime Access</li>
                              <li><span><i class="fa-light fa-bars-progress"></i></span>Affordable Courses</li>
                           </ul>
                        </div>
                        <div class="tp-hero__btn-wrappper">
                           <a href="/about" class="tp-btn">
                              <span>Get Started <i class="fa-regular fa-arrow-right"></i></span>
                              <div class="transition"></div>
                           </a>
                        </div>
                     </div>
                  </div>
               </div>

            </div>

         </div>
         <div class="tp-about-2__shapes">
            <div class="tp-about-2__shapes-8">
               <img src="/assets/img/icons/lines-shape.png" alt="">
            </div>
            <div class="tp-about-2__shapes-3">
               <img src="/assets/img/icons/role-shape-2.png" alt="">
            </div>
            <div class="tp-about-2__shapes-4 ">
               <img src="/assets/img/icons/book-blue.png" alt="">
            </div>
         </div>
      </div>
      <!-- about section end  -->

      <!-- course start  -->
      <div class="tp-courses-2__section grey-bg-2 pt-120 pb-90">
         <div class="container">
            <div class="row align-items-end">
               <div class="col-lg-8">
                  <div class="tp-section__title-wrapper mb-40">
                     <h3 class="tp-section__title mb-15">Our Popular Courses.</h3>
                     <p>Lorem ipsum dolor sit amet, consectetur aliqua adipiscing
                        elit, sed do eiumod tempor.</p>
                  </div>
               </div>
               <div class="col-lg-4">
                  <div class="tp-cta__btn-wrappper d-flex justify-content-lg-end mb-45 p-relative z-index-1">
                     <a href="/courses" class="tp-white-btn">
                        <span>See All course<i class="fa-regular fa-arrow-right"></i></span>
                        <div class="transition"></div>
                     </a>
                  </div>
               </div>
            </div>
            <div class="tp-courses-2__tab-content">
               <div class="row">
                  <% e.forEach((item)=>{   %>
                  <div class="col-lg-4 col-md-6">
                     <div class="tp-courses-2__item mb-30">
                        <div class="tp-courses-2__thumb w-img fix p-relative">
                           <a href="/course-details/<%= item._id %>">
                           <img src="<%= item.image.url %>" style ="width: 100%;height: 300px;" alt="">
                        </a>
                        </div>
                        <div class="tp-courses-2__content white-bg">
                           <div class="tp-courses-2__meta d-flex justify-content-between align-items-center">
                              <span class="tp-courses-2__cat cat-color-1"><a href="/course-details/<%= item._id %>"><%= item.Course_Name %></a></span>
                              <span class="tp-courses-2__price">₹<%= item.Fee %></span>
                           </div>
                           <h3 class="tp-courses-2__title"><a href="/course-details/<%= item._id %>"><%= item.Title %></a></h3>
                           <div class="tp-courses-2__bottom d-md-flex justify-content-between align-items-center">
                              <div class="tp-courses-2__sub">
                                 <span><i class="far fa-book-alt"></i><%= item.Speed %></span>
                              </div>
                              <div class="tp-courses-2__review">
                                 <span>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star-half-alt"></i>
                                 </span>
                                 <span><%= item.Rating %></span>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <%    }) %>
               </div>
            </div>
         </div>
      </div>
      <!-- course end  -->

      <!-- counter start  -->
      <div class="tp-counter__section pt-80 pb-60" style="background-color: #009df2;">
         <div class="container">
            <div class="row justify-content-center">
               <div class="col-lg-8">
                  <div class="row">
                     <div class="col-lg-12">
                        <div class="tp-section__title-wrapper mb-70 text-center">
                           <h3 class="tp-section__title text-white">Our Many years of <br>
                              Experience in Numbers</h3>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-lg-3 col-6">
                        <div class="tp-counter__item mb-30 has-border">
                           <span><b class="counter">13286</b>Success Stories</span>
                        </div>
                     </div>
                     <div class="col-lg-3 col-6">
                        <div class="tp-counter__item has-border mb-30">
                           <span><b class="counter">620</b>Success Stories</span>
                        </div>
                     </div>
                     <div class="col-lg-3 col-6">
                        <div class="tp-counter__item  has-border mb-30">
                           <span><b class="counter">530</b>Success Stories</span>
                        </div>
                     </div>
                     <div class="col-lg-3 col-6">
                        <div class="tp-counter__item mb-30">
                           <span><b class="counter">2000</b>Success Stories</span>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- counter end  -->

      <!-- event start-->
      <div class="tp-event-2__section pt-120 pb-90 p-relative fix z-index-1">
         <div class="container">
            <div class="row align-items-end">
               <div class="col-lg-8">
                  <div class="tp-section__title-wrapper mb-40">
                     <h3 class="tp-section__title mb-15">Upcoming Batches</h3>
                     <p>Etiam porttitor risus massa nec condiment gravida nibh vel velit.</p>
                  </div>
               </div>
               <div class="col-lg-4">
                  <div class="tp-cta__btn-wrappper d-flex justify-content-lg-end mb-40 p-relative z-index-1">
                     <a href="/contact" class="tp-border-btn-white">
                        <span>View all Event<i class="fa-regular fa-arrow-right"></i></span>
                        <div class="transition"></div>
                     </a>
                  </div>
               </div>
            </div>
            <div class="tp-event-2__wrapper">

               <% ba.forEach((it)=>{   %>


               <div class="tp-event-2__item mb-10">
                  <div class="row align-items-center">
                     <div class="col-lg-7">
                        <div class="tp-event-2__content d-md-flex align-items-center">
                           <div class="tp-event-2__date mr-30">
                              <span><%= it.start_date %></span>
                           </div>
                           <div class="tp-event-2__info">
                              <span><i class="fa-light fa-location-dot"></i>India, Gwalior</span>
                              <h3 class="tp-event-2__title"><a href="/event-details/<%= it._id %>"><%= it.batch_name %></a> </h3>
                              <div class="tp-event-2__meta">
                                 <img src="/assets/img/testimonial/event-avata-1.jpg" alt="">
                                 <span><%= it.teacher_name %></span>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-5">
                        <div class="tp-event-2__right d-sm-flex align-items-center justify-content-lg-end">
                           <div class="tp-event-2__time color-1 mr-30">
                              <span><i class="fal fa-clock"></i><%= it.timing %></span>
                           </div>
                           <div class="tp-evnet-2__btn p-relative z-index-11">
                              <a href="/event-details/<%= it._id %>" class="tp-border-btn">
                                 <span>View More</span>
                                 <div class="transition"></div>
                              </a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>

               <%    })  %>
               <!-- <div class="tp-event-2__item mb-10">
                  <div class="row align-items-center">
                     <div class="col-lg-7">
                        <div class="tp-event-2__content d-md-flex align-items-center">
                           <div class="tp-event-2__date mr-30">
                              <span><b>30</b> Oct, 2022</span>
                           </div>
                           <div class="tp-event-2__info">
                              <span><i class="fa-light fa-location-dot"></i> United Kingdom</span>
                              <h3 class="tp-event-2__title"><a href="/event-details">How to speake like
                                    nativespeaker?</a> </h3>
                              <div class="tp-event-2__meta">
                                 <img src="/assets/img/testimonial/event-avata-2.jpg" alt="">
                                 <span>Steven Mathu</span>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-5">
                        <div class="tp-event-2__right d-sm-flex align-items-center justify-content-lg-end">
                           <div class="tp-event-2__time color-2 mr-30">
                              <span><i class="fal fa-clock"></i> 10:30am - 12:30pm</span>
                           </div>
                           <div class="tp-evnet-2__btn p-relative z-index-11">
                              <a href="/event-details" class="tp-border-btn" tabindex="-1">
                                 <span>View More</span>
                                 <div class="transition"></div>
                              </a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="tp-event-2__item mb-10">
                  <div class="row align-items-center">
                     <div class="col-lg-7">
                        <div class="tp-event-2__content d-md-flex align-items-center">
                           <div class="tp-event-2__date mr-30">
                              <span><b>20</b> Oct, 2022</span>
                           </div>
                           <div class="tp-event-2__info">
                              <span><i class="fa-light fa-location-dot"></i> United Kingdom</span>
                              <h3 class="tp-event-2__title"><a href="/event-details">Complete Security Course
                                    USA.</a> </h3>
                              <div class="tp-event-2__meta">
                                 <img src="/assets/img/testimonial/event-avata-3.jpg" alt="">
                                 <span>Steven Mathu</span>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-5">
                        <div class="tp-event-2__right d-sm-flex align-items-center justify-content-lg-end">
                           <div class="tp-event-2__time color-3 mr-30">
                              <span><i class="fal fa-clock"></i> 10:30am - 12:30pm</span>
                           </div>
                           <div class="tp-evnet-2__btn  p-relative z-index-11">
                              <a href="/event-details" class="tp-border-btn" tabindex="-1">
                                 <span>View More</span>
                                 <div class="transition"></div>
                              </a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="tp-event-2__item mb-10">
                  <div class="row align-items-center">
                     <div class="col-lg-7">
                        <div class="tp-event-2__content d-md-flex align-items-center">
                           <div class="tp-event-2__date mr-30">
                              <span><b>10</b> Oct, 2022</span>
                           </div>
                           <div class="tp-event-2__info">
                              <span><i class="fa-light fa-location-dot"></i> United Kingdom</span>
                              <h3 class="tp-event-2__title"><a href="/event-details">Woodpress Online Meetup</a>
                              </h3>
                              <div class="tp-event-2__meta">
                                 <img src="assets/img/testimonial/event-avata-4.jpg" alt="">
                                 <span>Steven Mathu</span>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-5">
                        <div class="tp-event-2__right d-sm-flex align-items-center justify-content-lg-end">
                           <div class="tp-event-2__time color-4 mr-30">
                              <span><i class="fal fa-clock"></i> 10:30am - 12:30pm</span>
                           </div>
                           <div class="tp-evnet-2__btn  p-relative z-index-11">
                              <a href="/event-details" class="tp-border-btn" tabindex="-1">
                                 <span>View More</span>
                                 <div class="transition"></div>
                              </a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div> -->
            </div>
         </div>
         <div class="tp-event-2__shapes">
            <div class="tp-event-2__shapes-1">
               <img src="/assets/img/icons/book-shape.png" alt="">
            </div>
            <div class="tp-event-2__shapes-2">
               <img src="/assets/img/icons/dots-shapes.png" alt="">
            </div>

            <div class="tp-event-2__shapes-3">
               <img src="/assets/img/icons/lines-shape.png" alt="">
            </div>
         </div>
      </div>
      <!-- evant end -->

      <!-- cta start-->
      <div class="tp-cta-2__section p-relative pt-50 pb-20 p-relative">
         <div class="tp-cta-2__shape">
            <img src="/assets/img/icons/ring-2.png" alt="">
         </div>
         <div class="container">
            <div class="row align-items-center">
               <div class="col-lg-6">
                  <div class="tp-cta__info mb-30">
                     <h3 class="tp-section__title text-white mb-25">Quickly get updates about <br>
                        class event and news!</h3>
                     <div class="tp-cta-2__form p-relative">
                        <form>
                           <div class="tp-cta-2__field">
                              <input type="text" placeholder="Enter Your Email">
                           </div>
                           <button class="tp-cta-2__btn" type="submit">Subscribe</button>
                        </form>
                     </div>
                  </div>
               </div>
               <div class="col-lg-6">
                  <div class="tp-cta-2__img text-lg-end mb-30">
                     <img src="/assets/img/icons/cta-img-2.png" alt="">
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- newsletter end -->

   </main>


 <%- include('./footer.ejs') %>